In [93]:
import numpy as np
import pandas as pd

In [94]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-06-26/week13_alcohol_global.csv')

In [95]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB

In [97]:
country_short = pd.read_csv('country_short.csv')

In [98]:
country_short.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [99]:
country_short

                  Name Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

In [100]:
df['country'] = df['country'].str.replace('&', 'and')

In [101]:
df_2 = df.merge(country_short,
        how = 'left',
        left_on='country',
        right_on='Name').drop(columns='Name')

In [102]:
df_2.set_index('country', inplace=True)

In [103]:
for country in df_2[df_2['Code'].isna()].index:
    name = input(country +': ')
    df_2.at[country, 'Code'] = name

Bolivia: BO
Bosnia-Herzegovina: BA
Brunei: BN
Cote d'Ivoire: CI
Cabo Verde: CV
North Korea: KP
DR Congo: CD
Iran: IR
Laos: LA
Micronesia: FM
Namibia: NA
South Korea: KR
Moldova: MD
St. Kitts and Nevis: KN
St. Lucia: LC
St. Vincent and the Grenadines: VC
Syria: SY
Macedonia: MK
Tanzania: TZ
USA: US
Venezuela: VE
Vietnam: VN

In [104]:
continents = pd.read_csv('continents.csv')
continents = continents[['Two_Letter_Country_Code', 'Three_Letter_Country_Code', 'Continent_Name', 'Continent_Code']]

In [105]:
continents.at[152, 'Two_Letter_Country_Code'] = 'NA'

In [106]:
df_3 = df_2.reset_index().merge(continents, 
          how = 'left',
          left_on='Code',
          right_on='Two_Letter_Country_Code').drop(columns='Two_Letter_Country_Code')

In [107]:
df_3[df_3['Continent_Name'].isna()]

Empty DataFrame
Columns: [country, beer_servings, spirit_servings, wine_servings, total_litres_of_pure_alcohol, Code, Three_Letter_Country_Code, Continent_Name, Continent_Code]
Index: []

In [108]:
df_3

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Code,Three_Letter_Country_Code,Continent_Name,Continent_Code
0,Afghanistan,0,0,0,0.0,AF,AFG,Asia,AS
1,Albania,89,132,54,4.9,AL,ALB,Europe,EU
2,Algeria,25,0,14,0.7,DZ,DZA,Africa,AF
3,Andorra,245,138,312,12.4,AD,AND,Europe,EU
4,Angola,217,57,45,5.9,AO,AGO,Africa,AF
...,...,...,...,...,...,...,...,...,...
195,Venezuela,333,100,3,7.7,VE,VEN,South America,SA
196,Vietnam,111,2,1,2.0,VN,VNM,Asia,AS
197,Yemen,6,0,0,0.1,YE,YEM,Asia,AS
198,Zambia,32,19,4,2.5,ZM,ZMB,Africa,AF
199,Zimbabwe,64,18,4,4.7,ZW,ZWE,Africa,AF

In [148]:
pop = pd.read_csv('pop.csv', delimiter=';').drop(columns='Country Name')
pop.rename(columns={'2018': 'pop_2018', '1998': 'pop_1998'}, inplace=True)

In [149]:
pop['Population_diff'] = (pop['pop_2018'] - pop['pop_1998'])/ pop['pop_1998']

In [150]:
df_4 = df_3.merge(pop,
          how='left',
          left_on='Three_Letter_Country_Code',
          right_on='Country Code').drop(columns='Country Code')

In [171]:
gdp = pd.read_csv('gdp.csv', delimiter=';').drop(columns='Country Name')
gdp.rename(columns={'2018': 'gdp_2018', '1998': 'gdp_1998'}, inplace=True)

In [172]:
gdp

    Country Code      gdp_1998      gdp_2018
0            ABW  1.665101e+09           NaN
1            AFG           NaN  1.936297e+10
2            AGO  6.506230e+09  1.057510e+11
3            ALB  2.545967e+09  1.510250e+10
4            AND  1.211932e+09  3.236544e+09
..           ...           ...           ...
259          XKX           NaN  7.938991e+09
260         Rep.  6.838557e+09  2.681870e+10
261          ZAF  1.377748e+11  3.682889e+11
262          ZMB  3.537683e+09  2.672007e+10
263          ZWE  6.401968e+09  3.100052e+10

[264 rows x 3 columns]

In [173]:
gdp['gdp_1998']

0      1.665101e+09
1               NaN
2      6.506230e+09
3      2.545967e+09
4      1.211932e+09
           ...
259             NaN
260    6.838557e+09
261    1.377748e+11
262    3.537683e+09
263    6.401968e+09
Name: gdp_1998, Length: 264, dtype: float64

In [174]:
gdp['GDP_diff'] = (gdp['gdp_2018'] - gdp['gdp_1998'])/ gdp['gdp_1998']

In [175]:
df_5 = df_4.merge(pop,
          how='left',
          left_on='Three_Letter_Country_Code',
          right_on='Country Code').drop(columns='Country Code')

In [176]:
region = pd.read_csv('https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv')
region = region[['alpha-3', 'sub-region']]

In [179]:
df_5.merge(region,
          how='left',
          left_on='Three_Letter_Country_Code',
          right_on='alpha-3').drop(columns='alpha-3')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Code,Three_Letter_Country_Code,Continent_Name,Continent_Code,pop_1998_x,pop_2018_x,Population_diff_x,pop_1998_y,pop_2018_y,Population_diff_y,sub-region
0,Afghanistan,0,0,0,0.0,AF,AFG,Asia,AS,19737765.0,37172386.0,0.883313,19737765.0,37172386.0,0.883313,Southern Asia
1,Albania,89,132,54,4.9,AL,ALB,Europe,EU,3128530.0,2866376.0,-0.083795,3128530.0,2866376.0,-0.083795,Southern Europe
2,Algeria,25,0,14,0.7,DZ,DZA,Africa,AF,30192754.0,42228429.0,0.398628,30192754.0,42228429.0,0.398628,Northern Africa
3,Andorra,245,138,312,12.4,AD,AND,Europe,EU,64142.0,77006.0,0.200555,64142.0,77006.0,0.200555,Southern Europe
4,Angola,217,57,45,5.9,AO,AGO,Africa,AF,15359601.0,30809762.0,1.005896,15359601.0,30809762.0,1.005896,Sub-Saharan Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Venezuela,333,100,3,7.7,VE,VEN,South America,SA,NaN,NaN,NaN,NaN,NaN,NaN,Latin America and the Caribbean
196,Vietnam,111,2,1,2.0,VN,VNM,Asia,AS,78115710.0,95540395.0,0.223062,78115710.0,95540395.0,0.223062,South-eastern Asia
197,Yemen,6,0,0,0.1,YE,YEM,Asia,AS,NaN,NaN,NaN,NaN,NaN,NaN,Western Asia
198,Zambia,32,19,4,2.5,ZM,ZMB,Africa,AF,9866476.0,17351822.0,0.758665,9866476.0,17351822.0,0.758665,Sub-Saharan Africa
199,Zimbabwe,64,18,4,4.7,ZW,ZWE,Africa,AF,11747072.0,14439018.0,0.229159,11747072.0,14439018.0,0.229159,Sub-Saharan Africa

In [181]:
religion = pd.read_excel('religion.xlsx')

In [184]:
religion.drop(columns=['row_number', 'level', 'Nation_fk', 'Year', 'Region', 'All Religions'])

,Country,Christians,Muslims,Unaffiliated,Hindus,Buddhists,Folk Religions,Other Religions,Jews
0,All Countries,"2,168,330,000","1,599,700,000","1,131,150,000","1,032,210,000","487,760,000","404,690,000","58,150,000","13,860,000"
1,All Countries,"266,630,000","3,480,000","59,040,000","2,250,000","3,860,000","1,020,000","2,200,000","6,040,000"
2,All Countries,"531,280,000","840,000","45,390,000","660,000","410,000","10,040,000","990,000","470,000"
3,All Countries,"553,280,000","43,470,000","139,890,000","1,380,000","1,350,000","870,000","890,000","1,420,000"
4,All Countries,"12,710,000","317,070,000","2,100,000","1,720,000","500,000","1,060,000","230,000","5,630,000"
...,...,...,...,...,...,...,...,...,...
1200,Zimbabwe,"16,230,000","200,000","1,430,000","<10,000","<10,000","930,000","50,000","<10,000"
1201,South Sudan,"12,750,000","1,300,000","100,000","<10,000","<10,000","6,930,000","<10,000","<10,000"
1202,Curacao,"170,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000"
1203,Sint Maarten,"60,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000"
1204,Caribbean Netherlands,"20,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000"